
body {
    height: 100%;
    margin: 0;
    color: white;
    font-family: 'Nunito', sans-serif;
    
} 
#main {
    height: 980px;
    background-position-y: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.2)), url(images/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg);
}

.container-1, .container-2, .container-3, .container-4, .container-5 {
    display: flex;
}
.container-1 {
    height: 60px;
    justify-content: space-between;
    margin: 0 50px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}
.container-1 div{

}
ul {
    list-style-type: none;
    display: flex;
    width: 250px;
    justify-content: space-between;
    padding-top: 22px;
}
a {
    text-decoration: none;
    color: white;
}
.container-2 {
    height: 700px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container-3, .container-4, .container-5{
    height: 500px;
}

.container-3 #i1 {
    flex:4;
    background-size: cover;
    background-image: url(images/human-holding-a-bread-745988.jpg);
}
.p1 {
    flex:7;
    background-color: rgb(12, 12, 12)
}
.container-4 #i2 {
    flex: 4;
    order: 2;
    background-size: cover;
    background-image: url(images/green-pineapple-fruit-with-brown-framed-sunglasses-beside-1161547.jpg);
}

.p2 {
    flex:7;
    order: 1;
    background-color: rgb(22, 22, 22)
}

.container-5 #i3 {
    flex:4;
    background-size: cover;
    background-image: url(images/cooked-pasta-on-brown-wooden-bowl-803963.jpg);
}
.p3 {
    flex:7;
    background-color: rgb(34, 34, 34)
}

.p1, .p2, .p3 {
    padding-top: 100px;
    padding-left: 100px;
}
h2 {
    font-size: 100px;
    border-bottom: 2px solid white;
    padding: 20px 25px;
    margin-bottom: 25px;
}
h4 {
    font-weight: 600;
    font-size: 50px;
    line-height: 0px;
    
}
h3 {
    font-size: 70px;
    font-weight: 1;
    margin-top: 0;
}
p {
    font-size: 25px;
    font-weight: 100px;
    color: rgb(143, 143, 143);
    padding-right: 200px;
}