body {
    height: 100%;
    margin: 0;
    
} 
#main {
    sbackground-image: url(/images/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg);
}

.container-1, .container-2, .container-3, .container-4, .container-5 {
    display: flex;
    border: 1px solid black;
}
.container-1 {
    justify-content: space-between;
    align-items: flex-end
}
li {
    list-style-type: none ;
    display: block;
    float: right;
}
a {
    text-decoration: none;
}
.container-2 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-3 {


}
.container-4 {


}
.container-5 {

}
p {
}
.image {
    border: 1px solid black;
    object-fit: cover;
}
#i1 {
    background-image: url(images/human-holding-a-bread-745988.jpg);
}
#nav {
    text-decoration: none;
}
#content {
    border: 1px solid black;
}
#main {
    border: 1px solid black;
}
.row {
    border: 1px solid black;
}
img {
    size: 40px;
}
